

:root{
    --normal-text-size:17px;
    --font-family:Arial,sans-serif;
    --big-text-size:32px;
    --background-color:#f5f5f7;
    --text-color:#1d1d1f;
    --fw-title:bold;
    --text-shadow:-2px 2px 5px rgba(0,0,0,0.5)
    --description-bg:#dfe4ea;
    --box-shadow: -1px 6px 8px rgba(0,0,0,0.5);
    --highlight-text:#ff4757;
}



[data-theme="dark"]{
    --background-color:#1d1d1f;
    --text-color: #f5f5f7;
    --description-bg: #57606f;
    /** box shadow must test again */
    --text-shadow:3px 3px 8px rgba(0 , 0 , 0 , 0.7);
    --box-shadow:-1px 6px 8px rgba(0,0,0,0.5) ;
}




body{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: var(--font-family);
    font-weight:100;
    font-size: var(--normal-text-size);
    background-color:var(--background-color) !important;
    color: var(--text-color) !important;
    transition: background-color 0.3s ease,color 0.3s ease;
}
